
<!DOCTYPE html>
<html>
<head>
    <title>Upload Video</title>
</head>
<body>
    <div class="container">
        <h1>Upload Video</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
    </div>
</body>
</html>
