<!DOCTYPE html>
<html>
<head>
    <title>Video Detail</title>
</head>
<body>
    <h1>Video Detail</h1>
    <video controls>
        <source src="{{ video.timestamped_video_file.url }}" type="video/mp4">
    </video>
</body>
</html>
